/* 全体のスタイル */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

/* タイトルのスタイル */
h1 {
    font-size: 28px;
    color: #333;
    margin-top: 20px;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
}

/* フォームのスタイル */
form {
    margin: 20px auto;
    width: 80%;
    max-width: 500px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

/* ラベルのスタイル */
form label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

/* セレクトボックスのスタイル */
form select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* ボタンのスタイル */
form button, button {
    display: inline-block;
    width: 100%;
    max-width: 150px;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

form button:hover, button:hover {
    background-color: #45a049;
}

/* 戻るボタンのスタイル */
button {
    background-color: #555;
    color: white;
    text-align: center;
}

button:hover {
    background-color: #333;
}
