body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    padding: 300px 0;
}

header {
    background-color: rgb(212, 209, 209);
    padding: 10px 0;
    text-align: center;
    font-size: 2.0em;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0;
}

input {
    /* 文字の大きさ */
    font-size: 50px;
    /* 内側の上下の余白 */
    padding: 40px;
    /* 外側の右側の余白 */
    margin-right: 200px;
    /* 外側の左側の余白 */
    margin-left: 200px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}