body {
    margin: 0;
    font-family: sans-serif;
}

/* 全体を中央に配置 */
.place {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.lecture_list {
    width: 600px;
    height: 300px;
    overflow-y: auto;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.8;
}

/* タイトルの中央揃え */
.font_size {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

/* 削除用セレクトボックス */
.delete_select {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.delete_select select {
    width: 300px;
    height: 120px;
    font-size: 28px;
    padding: 10px;
}

/* ボタン配置 */
.add_button,
.delete_button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.add_button button,
.delete_button button {
    width: 140px;
    height: 60px;
    font-size: 18px;
    margin: 0 10px;
}

.back_button button {
    position: absolute;
    top: 670px;
    left: 110px;
    width: 140px;
    height: 60px;
    font-size: 18px;
}

li {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 8px;
}

.lecture {
    font-weight: bold;
}

/* 同じ曜日と時限を持つ講義を赤色で表示 */
.highlight {
    color: red;
}

.attention {
    position: relative;
    font-size: 16px;
    top: 135px;
    left: 52%;

}