<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/home.css" />
    <title>ホーム</title>
  </head>
  <body>
    <div class="home_button">
      <h1>ホーム画面</h1>
      <form method="get" action="{{url_for('absence.index')}}">
        <button type="submit">欠席登録</button>
      </form>
      <br />
      <button type="button" onclick="location.href='/todos'">ToDo</button>
      <br />
      <button type="button" onclick="location.href='/lectures'">
        講義追加
      </button>
    </div>
    <div class="absence">
      <h2>欠席情報</h2>
      <div class="absence_list">
        <!-- ここのリストはテスト用 -->
        <!-- <li>講義名：欠席４回</li>
        <li>講義名：欠席４回</li>
        <li>講義名：欠席４回</li>
        <li>講義名：欠席３回</li>
        <li>講義名：欠席３回</li> -->
        {% for absence in absences %}
        <li>講義名：{{ absence.title }} - 欠席{{ absence.absence_count }}回</li>
        {% else %}
        <li>現在、欠席情報はありません。</li>
        {% endfor %}
      </div>
    </div>
    <br />
    <div class="todo">
      <h2>ToDoリスト</h2>
      <div class="todo_list">
        {% for todo in todoList %}
        <li>
          <p>講義名：{{ todo.title }}</p>
          <p>期限：{{ todo.deadline }}</p>
          <p>内容：{{ todo.description }}</p>
        </li>
        {% else %}
        <li>現在、ToDoリストはありません。</li>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
