<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/id_login.css" />
    <title>ログイン</title>
  </head>
  <body>
    <h1>ログイン</h1>
    {% if ans %}
      <div class="message {% if 'success' in ans %}success{% else %}error{% endif %}">
        {{ ans.success or ans.error }}
      </div>
    {% endif %}
    <form action="{{ url_for('user.login') }}" method="get">
      <label for="user">ユーザーID:</label>
      <input type="text" id="user" name="user" required />
      <br />
      <label for="pass">パスワード:</label>
      <input type="password" id="pass" name="password" required />
      <br />
      <input type="submit" value="ログイン" />
  </form>
    <br />
  </body>
  <!-- 初期画面はid.htmlのこと -->
  <a href="/">初期画面に戻る</a>
</html>
