<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>授業選択</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lecture.css') }}">
</head>

<body>
    <!-- タイトル -->
    <div class="title">
        <h1>新規講義の追加</h1>
    </div>

    <!-- 講義選択 -->
    <form method="POST" action="{{ url_for('lectures.add') }}">
        <div class="class">
            <div class="all_text">
                <label>講義:</label>
            </div>
            {% if selected_day and selected_time %}
            {% if classes %}
            <select name="lecture" id="lecture" required>
                {% for lecture in classes %}
                <option value="{{ lecture.id }}">{{ lecture.class }}</option>
                {% endfor %}
            </select>
            <br>
            {% endif %}
            {% endif %}
        </div>
        <!-- 追加ボタン -->
        <div class="add">
            <button type="submit">追加</button>
        </div>
    </form>

    <!-- 曜日選択 -->
    <form method="get" action="/lectures">
        <div class="day_time_fontsize">
            <div class="all_text">
                <label for="day">曜日:</label>
            </div>
            <select name="day" id="day">
                <option value="">選択してください</option>
                <option value="月曜日" {% if selected_day=='月曜日' %}selected{% endif %}>月曜日</option>
                <option value="火曜日" {% if selected_day=='火曜日' %}selected{% endif %}>火曜日</option>
                <option value="水曜日" {% if selected_day=='水曜日' %}selected{% endif %}>水曜日</option>
                <option value="木曜日" {% if selected_day=='木曜日' %}selected{% endif %}>木曜日</option>
                <option value="金曜日" {% if selected_day=='金曜日' %}selected{% endif %}>金曜日</option>
            </select>
        </div>

        <!-- 時限選択 -->
        <div class="day_time_fontsize">
            <div class="all_text">
                <label for="time">時限:</label>
            </div>
            <select name="time" id="time">
                <option value="">選択してください</option>
                <option value="1" {% if selected_time=='1' %}selected{% endif %}>1時限</option>
                <option value="2" {% if selected_time=='2' %}selected{% endif %}>2時限</option>
                <option value="3" {% if selected_time=='3' %}selected{% endif %}>3時限</option>
                <option value="4" {% if selected_time=='4' %}selected{% endif %}>4時限</option>
                <option value="5" {% if selected_time=='5' %}selected{% endif %}>5時限</option>
            </select>
        </div>

        <!-- 参照ボタン -->
        <div class="reference">
            <button type="submit">参照</button>
        </div>
    </form>

    <!-- 条件に当てはまる講義のリスト -->
    <div class="reference_whitebox">
        <p>条件に当てはまる講義名</p>
        {% if classes %}
        <ul>
            {% for lecture in classes %}
            <li>{{ lecture.class }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>該当する講義はありません。</p>
        {% endif %}
    </div>

    <!-- 最終確認ボタン -->
    <form method="post" action="{{ url_for('lectures.select_class') }}">
        <div class="Finalconfirmation">
            <button type="submit">最終確認</button>
        </div>
    </form>

    <!-- ホームボタン -->
    <form method="post" action="{{ url_for('lecture_result.save')}}">
        <div class="home_button">
            <button type="submit">ホーム</button>
        </div>
    </form>
</body>

</html>