<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='todo.css') }}"
    />
    <title>ToDo Manager</title>
  </head>
  <body>
    <h1>Todoを追加</h1>
    <form method="POST" action="{{ url_for('todos.index') }}">
      <div>
        <label for="name">講義名:</label>
        <select name="lecture" id="lecture" required>
          {% for lecture in classes %}
          <option value="{{ lecture.id }}">{{ lecture.title }}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <label for="date">締切日:</label>
        <input type="date" id="date" name="date" required />
      </div>
      <div>
        <label for="todo">具体的な内容:</label>
        <textarea id="todo" name="todo" rows="4" cols="50" required></textarea>
      </div>
      <button type="submit">次へ</button>
    </form>
  </body>
</html>
